.body{
    background-color: rgb(214, 201, 255);
}
.formapoyo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px #888;
    height: auto;
    width: 1000px;

    
}

.T1{
    justify-content: center;
    display: flex;
    margin-top: 25px;
    margin-bottom: 50px;
}

h2{
    text-align: center;
}

.Nombre{
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.Apellido{
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.Correo{
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.Telefono{
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.Tipoapoyo{
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.Otro{
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.horario{
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.monto{
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.material{
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.motivacion{
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.comentarios{
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.Acuerdo{
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    width: 300px;
}

.Acuerdo2{
    text-align: center;
}

.enviar{
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: rgb(159, 159, 159);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    cursor: pointer;
}

.circulo1{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 150px;
    height: 150px;
    background-image: linear-gradient( rgb(136, 108, 208) 0%, rgb(117, 132, 241) 100%);
    border-radius: 50%;
    z-index: -1;
}

.circulo2{
    position: absolute;
    top: 60%;
    left: 73%;
    width: 200px;
    height: 200px;
    background-image: linear-gradient( rgb(136, 108, 208) 0%, rgb(117, 132, 241) 100%);
    border-radius: 50%;
    z-index: -1;
}

.circulo3{
    position: absolute;
    top: 90%;
    left: 17%;
    width: 300px;
    height: 300px;
    background-image: linear-gradient( rgb(136, 108, 208) 0%, rgb(117, 132, 241) 100%);
    border-radius: 50%;
    z-index: -1;
}