
.body{
    background-color: rgb(214, 201, 255);
}

.Registro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 201, 255);
    height: 100vh; /* Hace que el contenedor ocupe toda la altura de la ventana */
    margin: 0;
    padding: 0;
}
.contSubmain{
    position: absolute;
    font-family: 'Roboto';
    background-color: white;
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px !important; 
    height: 600px !important;
    max-width: 400px; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 2;


}


.logo-container {
    margin-top: 20px; /* Ajusta el margen superior para separar el logotipo del borde superior del contenedor */
}


.logo {
    position: absolute; /* Permite un posicionamiento absoluto */
    top: 0; /* Ajusta la posición superior del logotipo al borde superior del contenedor .contSubmain */
    left: 50%; /* Ajusta la posición horizontal del logotipo */
    transform: translateX(-50%); /* Centra horizontalmente el logotipo */
    width: 150px;
    height: 42px;
}

.Crearcuentatxt{
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    color: #2a2a2a;


}

.nombre{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    border: 0.5px solid #cdcdcd;
    height:45px;

}

.correo{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    border: 0.5px solid #cdcdcd;
    height:45px;
}

.contra1{
   
    
    width: 100%;
    border-radius: 10px;
    border: 0.5px solid #cdcdcd;
    height:45px;
}

.contra2{

    width: 100%;
    border-radius: 10px;
    border: 0.5px solid #cdcdcd;
    height:45px;
}


.Crear-cuenta{
    background: linear-gradient(to right, #7884f0, #8365c0);
    font-weight: 700;
    color: white;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    border: 0 solid;
}

.back{
    background-color: #9f9f9f;
    font-weight: 700;
    color: white;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    border: 0 solid;
}

.circulo1{
    position: absolute;
    top: 15%;
    left: 29%;
    width: 100px;
    height: 100px;
    background-image: linear-gradient( rgb(136, 108, 208) 0%, rgb(117, 132, 241) 100%);
    border-radius: 50%;
    z-index: 1;
}

.circulo2{
    position: absolute;
    top: 30%;
    left: 65%;
    width: 150px;
    height: 150px;
    background-image: linear-gradient( rgb(136, 108, 208) 0%, rgb(117, 132, 241) 100%);
    border-radius: 50%;
    z-index: 1;
}

.circulo3{
    position: absolute;
    top: 65%;
    left: 25%;
    width: 200px;
    height: 200px;
    background-image: linear-gradient( rgb(136, 108, 208) 0%, rgb(117, 132, 241) 100%);
    border-radius: 50%;
    z-index: 1;
}