
.body{
    background-color: rgb(214, 201, 255);
}


.Registro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 680px;
    height: 680px;
    background-color: white;
    margin-top: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.75);
    z-index: 2;


}

.Crearcuentatxt{
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
    font-family: 'roboto', sans-serif;
    font-size: 55px;

}

.nombre{
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 476px;
    height: 60px;
    font-size: larger;
    font-family: 'roboto', sans-serif;

}

.correo{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 476px;
    height: 60px;
    font-size: larger;
    font-family: 'roboto', sans-serif;
}

.contra1{
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 476px;
    height: 60px;
    font-size: larger;
    font-family: 'roboto', sans-serif;
}


.Crear-cuenta{
    margin: auto;
    width: 476px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'roboto', sans-serif;
    color: white;
    background-image: linear-gradient(to left, rgb(136, 108, 208) 0%, rgb(117, 132, 241) 100%);
}

.back{
    margin: auto;
    width: 476px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'roboto', sans-serif;
    color: white;
    background-color: rgb(160, 160, 160);
}

.circulo1{
    position: absolute;
    top: 15%;
    left: 29%;
    width: 100px;
    height: 100px;
    background-image: linear-gradient( rgb(136, 108, 208) 0%, rgb(117, 132, 241) 100%);
    border-radius: 50%;
    z-index: 1;
}

.circulo2{
    position: absolute;
    top: 30%;
    left: 65%;
    width: 150px;
    height: 150px;
    background-image: linear-gradient( rgb(136, 108, 208) 0%, rgb(117, 132, 241) 100%);
    border-radius: 50%;
    z-index: 1;
}

.circulo3{
    position: absolute;
    top: 65%;
    left: 25%;
    width: 200px;
    height: 200px;
    background-image: linear-gradient( rgb(136, 108, 208) 0%, rgb(117, 132, 241) 100%);
    border-radius: 50%;
    z-index: 1;
}